{% extends 'base.html.twig' %}
    
{% block title %}{{ parent() }}- Accueil{% endblock %}
{% block stylesheets %}
{{ parent() }}
{{ encore_entry_link_tags('slider') }}
{% endblock %}
    
{% block body %}
<div>
    <div id="root"></div>
</div>
{% endblock %}
